.github {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;

  .header {
    height: 150px;
    display: flex;

    .desc {
      font-weight: 450;
    }

    .select {
      flex: 1 0 0;
      margin: 0 8px;
    }
  }

  .table {
    margin-top: 16px;
  }
}
